@use "modern_css_reset.css";

@mixin flex-row-center($main-axis: center, $cross-axis: center) {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-column-center($main-axis: center, $cross-axis: center) {
    @include flex-row-center($main-axis, $cross-axis);

    flex-direction: column;
}

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body {
    background-image: url("../img/cole_keister-palm_trees.jpeg");
    display: flex;
    font-family: sans-serif;
}

main {
    flex: 2;
    background-color: #F4F4F4;
}

.left-background-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}

header {
    @include flex-row-center();

    margin: 20vh 0 0;
    background-color: rgba(128, 128, 128, 0.5);

    h1 {
        display: inline-block;
        font-family: 'Permanent Marker', cursive;
        font-size: 4rem;
    }
}

.hawaii-icon {
    display: inline-block;
    margin: 0 .5rem 0 0;
    height: 4rem;
    // Makes icon white
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(327deg) brightness(103%) contrast(102%);
}

footer {
    @include flex-row-center();
}

form {
    background-color: white;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.main-top,
form,
.main-bottom {
    padding: 2rem 4rem;
}

.main-top,
form h1 {
    font-weight: bold;
    font-size: 1.5rem;
}

.main-top p:first-child {
    margin: 0 0 1rem;
}