@use "modern_css_reset.css";

@mixin flex-row-center($main-axis: center, $cross-axis: center) {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-column-center($main-axis: center, $cross-axis: center) {
    @include flex-row-center($main-axis, $cross-axis);

    flex-direction: column;
}

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body {
    background-image: url("../img/cole_keister-palm_trees.jpeg");
    display: flex;
}

main {
    @include flex-column-center();
    flex: 2;
    background-color: #FAFAFA;
}

.left-background-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    font-size: 1.5rem;
}

header {
    @include flex-row-center();

    margin: 20vh 0 0;
    background-color: rgba(128, 128, 128, 0.5);

    h1 {
        display: inline-block;
        font-family: 'Permanent Marker', cursive;
    }
}

.hawaii-icon {
    display: inline-block;
    margin: 0 .5rem 0 0;
    // Makes icon white
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(327deg) brightness(103%) contrast(102%);
}

footer {
    @include flex-row-center();
}

form {
    background-color: white;
}